.vscode/**
node_modules/**
src/**
*.ts
tsconfig.json
package-lock.json
.npmrc
.vscodeignore
*.vsix
out/**/*.map
.gitignore
*.log
*.tsbuildinfo
Thumbs.db
Desktop.ini
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
