.vscode/**
node_modules/**
src/**
*.ts
tsconfig.json
package-lock.json
.npmrc
.vscodeignore
*.vsix
.vscode-test/**
tmp-e2e/**
out/**/*.map
.gitignore
*.log
*.tsbuildinfo
coverage/**
Thumbs.db
Desktop.ini
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
